[submodule "lab1"]
	path = lab1
	url = https://github.com/helcsnewsxd/famaf-computer_science-programming_paradigms-lab1
[submodule "lab2"]
	path = lab2
	url = https://github.com/helcsnewsxd/famaf-computer_science-programming_paradigms-lab2
[submodule "lab3"]
	path = lab3
	url = https://github.com/helcsnewsxd/famaf-computer_science-programming_paradigms-lab3
